<link rel="stylesheet" href="/css/userprofile.css">

<main>
    <aside>
        <div id="image">
            <img src="/images/blank.webp">
        </div>
        <div id="name">
            <span><%= user.employe_name%></span>
        </div>
        <div id="status">
            <div id="pending">
                <span>Pending :</span>
                <span><%= len %></span>
            </div>
            <div id="review">
                <span>Review :</span>
                <span>0</span>
            </div>
        </div>
    </aside>
    <section>
        <div id="total-user">
            <h2>Assign user</h2>
        </div>
        <div id="employes-box">
            <% if(user.assign.length == 0) {%>
                <% for(list of employe){ %>
                    <% if(user.id != list.id) { %>
                        <% for(emp of admin.employes){ %>
                            <% if(emp == list.id) { %>
                                <div class="employes">
                                    <div id="employes-name">
                                        <h3><%= list.employe_name %></h3>
                                    </div>
                                    <div id="assign-box">
                                        <a href="/Admin_home/profile/assign/<%= list.id%>/<%=user.id%>">Assign</a>
                                    </div>
                                </div>
                            <% } %>
                        <% } %> 
                    <% } %>
                <% } %>
            <% } else { %>
                <% let userassign = user.assign %>
                <% for(list of employe){ %>
                    <% if(user.id != list.id) { %>
                        <% for(emp of admin.employes){ %>
                            <% if(emp == list.id ) { %>
                                <% let val = true %>
                                <% for(myuser of userassign){ %>
                                    <% if(myuser == list.id) { %>
                                        <% val = false %>
                                    <% } %>
                                    
                                <% } %>   

                                <% if(val ) { %>
                                    <div class="employes">
                                        <div id="employes-name">
                                            <h3><%= list.employe_name %></h3>
                                        </div>
                                        <div id="assign-box">
                                            <a href="/Admin_home/profile/assign/<%= list.id%>/<%=user.id%>">Assign</a>
                                        </div>
                                    </div>
                                <% } %>    
                            <% } %>    
                        <% } %>    
                    <% } %>    
                <% } %>    
            <% } %>
           
        </div>      
    </section>    
</main>


<!-- 

    <div class="employes">
        <div id="employes-name">
            <h3>assign</h3>
        </div>
        <div id="assign-box">
            <a href="/Admin_home/profile/assign/<%= list.id%>/<%=user.id%>">Assign</a>
        </div>
    </div>
    
<div id="user-header">
        <div id="user-name">
            <h2><%= user.employe_name %></h2>
        </div>
        <div id="user-status">
            <div id="pending-box">
                <div id="pending">
                    <p>Pendings</p>
                </div>
                <span>: 0</span>
            </div>
            <div id="review-box">
                <div id="review">
                    <p>Reviews</p>
                </div>
                <span>: 0</span>
            </div>
        </div>
    </div>
    <div id="asign-box">

    </div>

 -->